.navbar-bubble{
    background-color: #00B5B5;
}

.imagem-de-fundo {
    background-image: url('../assets/background-bubble.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 50vh;
}

.content-inicio {
    border-top: 5px solid #00B5B5;
}


/* Página de serviços */
.cards-servicos {
    margin-top: 50px;
    text-align: justify;
}

.card{
    margin: 20px;
}

.card a{
    background-color: #00B5B5;
    border: none;
}

.card a:hover{
    background-color: #029191;
}