.navbar-bubble{
    background-color: #00B5B5;
}

.imagem-de-fundo {
    background-image: url('../assets/background-bubble.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 50vh;
}

.content-inicio {
    border-top: 0,3125rem solid #00B5B5;
    padding: 2rem;
}

.imagem-card{
    height: 15rem;
    object-fit: cover; /* Para manter a proporção da imagem e preencher o espaço */
}


/* Página de serviços */
.cards-servicos {
    margin-top: 3.5rem;
    text-align: justify;
}

.card{
    margin: 20px;
    border: 2px solid #00B5B5;
}

.card a{
    background-color: #00B5B5;
    border: none;
}

.card a:hover{
    background-color: #029191;
}

/* Página de contato*/
.content-contato{
    padding: 50px;
    border-bottom: 5px solid #00B5B5;
}

.content-contato img{
    margin: 20px auto;
}

.content-contato p{
    text-align: justify;
    background-color: #80ffff;
    border-radius: 20px;
    padding: 10px;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
